<header role="banner">
  <section class="page-header">
    <div class="wrapper">
      <div class="page-header__logo">
        <a href="/" class="logo">cloud.gov.au</a>
      </div>
      <div class="feedback">
        <a href="mailto:support@cloud.gov.au" class="button--feedback" role="button">Lodge support ticket</a>
      </div>
      <div class="site-nav">
        <nav class="site-nav__wrapper">
          <ul>
            {% for item in site.global_navigation %}
              {% for i in item %}
                <li>
                  <a href="{{ i[1] }}"
                  {% if i[1] contains page.url %}class="is-active"{% endif %}
                  >{{ i[0] }}</a></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>
